.custom-caption2{
  margin-right:55%;
  .text-grey{
    color: #bdbdbd;
  }
  @media(max-width:768px){
    margin-right:0;
  }
}
.chronicleTimeline{
  li{
    margin:20px;
  }
  img{
    // margin-top:20px ;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    z-index: 1;
    // border: 12px solid #e60012;
  }
  @media (min-width: 768px){
    img{
      width: 100%;
      // height: 200px;
    }
  }
  @media (min-width: 996px){
    img{
      width: 90%;
      // height: 400px;
    }
  }
}
.chronicleHr {
background: #e60012;
height: 1px;
width: 100%;
display: inline-block;
margin:  0;
@media (min-width: 568px){
  width: 100%;
}
@media (min-width: 768px){
  width: 100%;
}
@media (min-width: 1024px){
  width: 90%;
}
}

.q-avatar {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  border-radius: 50%;
  font-size: 3rem;
  height: 1em;
  width: 1em;
  @media (min-width:568px){
    font-size: 5rem;
  }
  @media (min-width:768px){
    font-size: 6rem;
  }
  @media (min-width:992px){
    font-size: 8rem;
  }
  @media (min-width:1200px) {
    font-size: 10rem;
  }
  @media (min-width:1500px) {
    font-size: 12rem;
  }
}
.avatarP{
  color: grey;
  font-size: 0.8rem;
  margin: 0;
  @media (min-width:768px){
    font-size: 1.3rem;
  }
}

.avatarH5{
  margin:0 0 1% 0;
  font-weight: 600;
  line-height: 2rem;
  @media (min-width:768px){
    font-size: 1.5rem;
  }
}

.mainTimeLine{
  @media (min-width: 555px){
    margin-left: 10%;
  }
  @media (min-width: 768px){
    margin-left: 20%;
  }
// margin-left: 20%;
}


