
//視差動畫

.indexParallax {
  position: relative;
  width: 100%;
  height: 60vh;
  img{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  @media(min-width:992px){
    height: 80vh;
    width: 100%;
  }
  img{
    height: 60vh;
    width: 100%;
    @media (min-width:992px){
      height: 80vh;
      width: 100%;
    }
  }
  overflow: hidden;

  // .parallaxImage {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   transform: translateZ(0);
  //   animation: parallaxScroll 10s infinite;
  // }

  .parallaxContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    @media(min-width:768px){
      left: 50%;
    }
    @media(min-width:992px){
      left: 30%;
    }
    @media(min-width:1400px){
      left: 25%;
    }
  }

  // // 控制滾動速度
  // &.slow {
  //   .parallaxImage {
  //     animation-duration: 20s;
  //   }
  // }

  // &.medium {
  //   .parallaxImage {
  //     animation-duration: 15s;
  //   }
  // }

  // &.fast {
  //   .parallaxImage {
  //     animation-duration: 8s;
  //   }
  // }
}

// // 視差動畫
// @keyframes parallaxScroll {
//   0% {
//     transform: translateZ(0) translateY(0);
//   }
//   100% {
//     transform: translateZ(0) translateY(-50%);
//   }
// }




//視差圖div
.indexParallax{
  // height: 100vh;
  position: relative;
  width: 80vw;
  margin: 2vw 10vw 0vw 10vw ;
@media(min-width:992px){
  margin: 2vw 10vw 0vw 10vw ;
}
  //視差文字div
.parallaxContent{
  position: absolute;
  transform: translate(-50%, -50%);
  width: 60%;
  // top: 1%;
  display: inline-block;
  font-size: 20px;
  // text-align: center;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  // text-align: center;
  // margin: 0 auto;
  // // margin-right:55%;
  // width: 100%;
  // height: 100%;
  .contentText{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;

  }

  h2{
    text-align: center;
    font-size: 2.6em;
    font-weight: 1000;
    // padding: 10px;
    margin: 0;

  }
  h5{
    text-align: center;
    font-size: 1.4em;
    font-weight: 800;
    margin: 0;
  }
  p{
    font-weight: 400;
    font-size: 0.8em;
    // text-align: left;
    margin: 0;
  }

//大於768px
  @media (min-width:768px){
    left: 33%;
    top: 57%;
    width: 60%;
    h2{
      text-align: left;
      font-size: 2.4em;
      width: 100%;
      margin: 0;
    }

    h5{
      text-align: left;
      font-size: 1.4rem;
      font-weight: 800;
      margin: 1px;
      width: 100%;
    }
    p{
      font-weight: 400;
      font-size: 1em;
      text-align: left;
      margin: 5px ;
      padding: 0   80px 0 0;
    }
  }
//大於1024px
  @media (min-width:1024px){
    left: 34%;
    top: 57%;
    h2{
      text-align: left;
      font-size: 3em;
      width: 100%;
      // margin: 20px;
      margin: 1px;
    }

    h5{
      text-align: left;
      font-size: 1.8rem;
      font-weight: 800;
      margin: 1px;
      width: 100%;
    }
    p{
      font-weight: 400;
      font-size: 0.9em;
      text-align: left;
      margin: 5px ;
      margin-top: 10px;
      padding: 0   40px 0 0;
    }
  }
//大於1200px
  @media (min-width:1200px){
    left: 38%;
    top: 57%;
    width: 67%;
    h2{
      text-align: left;
      font-size: 3.8em;
      width: 100%;
      // margin: 20px;
      margin: 5px;
    }

    h5{
      text-align: left;
      font-size: 2.2rem;
      font-weight: 800;
      margin: 5px;
      width: 100%;
    }
    p{
      font-weight: 400;
      font-size: 0.9em;
      text-align: left;
      margin: 5px ;
      padding: 0   90px 0 0;
    }
  }
//大於1500px
  @media (min-width:1500px){
    left: 34%;
    top: 57%;
    width: 51%;
    h2{
      text-align: left;
      font-size: 3.7em;
      width: 100%;
      // margin: 20px;
      margin: 5px;
    }

    h5{
      text-align: left;
      font-size: 1.7em;
      font-weight: 800;
      margin: 5px;
      width: 100%;
    }
    p{
      font-weight: 400;
      font-size: 1em;
      text-align: left;
      padding: 0   80px 0 0;
      margin: 5px ;
    }
  }
//大於1800px
  @media (min-width:1800px){
    left: 26%;
    top: 57%;
    width: 36%;
    h2{
      text-align: left;
      font-size: 3.3em;
      width: 100%;
      // margin: 20px;
      margin: 5px;
    }

    h5{
      text-align: left;
      font-size: 1.9rem;
      font-weight: 800;
      margin: 5px;
      width: 100%;
    }
    p{
      font-weight: 400;
      font-size: 0.9em;
      text-align: left;
      margin: 10px ;
      padding: 0   80px 0 0;
    }
  }




}
}

//卡片區
.card-container {
  position: relative;
  display: flex;
  flex: row;
  width: 80vw;
  height: 100%;
  min-height: 750px;
  margin: 0vw 10vw;



@media(min-width:768px){
  min-height: 1100px

}
@media(min-width:1024px){
  min-height: 40vh

}




  //圖片
  .card01Img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    img{
      width: 100%;
      z-index: 1;
    }
    @media (min-width: 1024px) {
      width: 41.666667%;
    }
  }


}
  //card1紅線
  .red-line {
    position: absolute;
    top: 50%;
    left: 6%;
    transform: translateY(-50%);
    width: 10px;
    height: 100%;
    background-color: red;
    z-index: -1;
  }

//文字區
.indexCard01{
  display: flex;
  flex-direction: column;
  z-index: 1;
// justify-content:flex-start;
  // z-index: 1;
  // @media (min-width: 992px) {
    height: 100%;
  //   width: 58.333333%;
  // }

  @media (min-width: 1024px) {
    height: 400px;
    width: 58.333333%;
  }
  @media (min-width: 1200px) {
    height: 500px;
  }
  @media (min-width: 1400px) {
    height: 560px;
  }
  @media (min-width: 1500px) {
    height: 580px;
  }
  @media (min-width: 1700px) {
    height: 680px;
  }
  @media (min-width: 1700px) {
    height: 680px;
  }
  @media (min-width: 2000px) {
    height: 740px;
  }
  @media (min-width: 2400px) {
    height: 830px;
  }
//
h3{
  margin: 0;
  padding: 0;
  font-size: 1.7em;
  font-weight: 600;
}
p{
  margin: 0;
  padding-bottom: 3rem;
  font-size: 1em;
}
span{
  font-weight: 600;
}

//368
@media(min-width:368px){
  h3{
    margin: 0;
    padding: 0;
    font-size: 1.9em;
  }
  p{
    margin: 0;
    // padding: 3px;
    font-size: 1.2em;
  }
}



//768
@media(min-width:768px){
  h3{
    margin: 0;
    // padding: 0;
    font-size: 2.8em;
  }
  p{
    margin: 0;
    // padding: 0;
    font-size: 1.8em;
  }
}

//992
@media(min-width:992px){
  // padding-left: 30px;
  h3{
    margin: 0;
    // padding: 0;
    // font-size: 40px;
  }
  p{
    margin: 0;
    // padding: 0;
    // font-size: 23px;
  }
}

//1024
@media(min-width:1024px){
  padding-left:4%;
  .title{
    // padding-top: 10px;
    margin-top: 5%;
  }
  h3{
    margin: 0;
    // padding-top: 60px;
    line-height: 1.3em;
    font-size: 2.5em;
  }
  p{
    margin: 0;
    // padding: 0;
    line-height: 1.7em;
    padding-top: 1%;
    font-size: 1.3em;
  }
}
//1200
@media(min-width:1200px){
  // padding-left: 30px;
  h3{
    margin: 0;
    // padding: 0;
    font-size: 2.8em;
  }
  p{
    margin: 0;
    // padding: 0;
    font-size: 1.55em;
  }
}
//1400
@media(min-width:1400px){
  h3{
    margin: 0;
    // padding: 0;
    font-size: 2.9em;
  }
  p{
    margin: 0;
    // padding: 0;
    font-size: 1.77em;
  }
}

//1500
@media(min-width:1500px){
  h3{
    margin: 0;
    // padding: 0;
    font-size: 3.5em;
  }
  p{
    margin: 0;
    // padding: 0;
    font-size: 1.8em;
  }
}
//1700
@media(min-width:1700px){
  h3{
    margin: 0;
    // padding: 0;
    line-height: 1.3em;
    font-size: 3.4em;
    // letter-spacing:0.1px;
  }
  p{
    margin: 0;
    padding-top: 1%;
    // padding: 1vh;
    font-size: 2.2em;
    line-height: 1.7em;
  }
}
//2000
@media(min-width:2000px){
  h3{
    margin: 0;
    // padding: 0;
    font-size: 4em;
  }
  p{
    margin: 0;
    // padding: 1vh;
    font-size: 2.7em;
  }
}
//2400
@media(min-width:2400px){
  h3{
    margin: 0;
    // padding: 0;
    font-size: 4.3em;
  }
  p{
    margin: 0;
    // padding: 1vh;
    font-size: 3.3em;
  }
}


}

//文字方塊
.textBox{
  width: 80vw;
  height: 10vh;
  margin: 3vw 10vw ;
  font-size: 1.3rem;
  @media(min-width:768px){
    font-size: 2rem;
  }
  @media(min-width:992px){
    font-size: 2.3rem;
    height: 30vh;
  }
}


.group{
  width: 80vw;
  // max-width:1024px;
  margin:0vw 10vw 5vw 10vw;
display: flex;
flex-direction: column;
  @media(min-width:768px){
    // width: 100vw;
    // max-width:1324px;
  }
  @media (min-width:992px){
    display: flex;
    flex-direction: row;
    width: 80vw;
    // padding: 5vw 10vw;
   }


}

.cardGroup {
  position: relative;
  overflow: hidden;
  // margin: 5px;
  width: 100%;
  // height: 50%;
  @media(min-width:768px){
   padding: 0 5px;
  }
  @media(min-width:992px){
margin: 0;
// padding: 7px 10px;
  }

}

.cardGroupContent {
  position: relative;
  img{
  transition: transform .2s; /* 滑鼠觸碰圖片放大效果 */
  width: 80vw;
  @media(min-width:996px){
    width: 100%;
  }
}
}

.cardGroupContent:hover {
  transform: scale(1.1); /* 滑鼠觸碰圖片放大效果 */
  transition: 0.25s;
}

.cardGroupTitle {
  // position: absolute;
  // top: 50px;
  // left: 20px;
  color: white;
  background-color: rgba(255, 255, 255, 0);
  // padding: 5px;
  p{
    font-size: 1rem;
    margin: 0 0 1%;
  }
  h4{
        margin: 1px;
       font-weight: 800;
       font-size: 2rem;
       width: 400px;
      //  height: 90px;
       span{
        font-weight: 300;
        font-size: 1rem;
       }
      }
      @media(min-width:768px){
        font-size: 2rem;
        h4{
          padding-top: 2%;
          font-size: 2.4rem;
             width: 400px;
             span{
              font-size: 1.4rem;
             }
            }
      }
      @media(min-width:992px){
        font-size: 28px;
        padding: 0;
        h4{
              margin:0 10px;
             width: 400px;
             font-size: 33px;
             span{
              font-size: 20px;
             }
            }
      }
      @media(min-width:1024px){
        font-size: 1.6rem;
        padding: 0;
        h4{
             width: 400px;
             padding-top: 0.5%;
            //  padding-bottom: 1%;
             font-size: 2.3rem;
             span{
              font-size: 1.6rem;
             }
            }
      }
}


//六大產業圖片區
#overViewPhotoNews {
  margin-bottom: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 80vw;
  margin: 3vw 10vw ;
  //六大產業圖片區卡片
.image-card {
  position: relative;
  overflow: hidden;
  padding: 5px;
}


//六大產業圖片區卡片內容
.image-content {
  position: relative;
  img {

    width: 100%;
    height: 100%;
  }
}

//六大產業圖片區卡片滑鼠觸碰放大效果

.image-card:hover .image-content img {
  transform: scale(1.1);
}

//六大產業圖片區卡片文字
.image-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  // top: 20%;
  // left: 10%;
  color: white;
  background: rgba(0,0,0,0);
  padding: 0;
  z-index: 1;
font-size: 30px;
h5{
  margin: 0;
  font-size: 30px;
}
p{
  margin: 0;
  font-size: 18px;
}
img{
  width: 140px;
}
}
}
