@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

// app global css in SCSS form
// body{
//   @media (max-width:568) {
//     overflow-x: hidden;
//   }
// }
// @font-face {
//   font-family: "jf-openhuninn-2.0";
//   src: url(/jf-openhuninn-2.0.woff);
// }
// body{
//   overflow-x: hidden;
//   font-family: "jf-openhuninn-2.0";
// }

* {
  // overflow-x: hidden;
  font-family: 'Noto Sans TC', sans-serif;
}
.q-drawer {
  .q-item__label {
    line-height: 0.2rem !important;
    max-width: 100%;
  }
}

h5 {
  font-family: 'Noto Sans TC', sans-serif;
}
.bg-red {
  background: #e60012 !important;
}
.text-h2 {
  font-size: 3.75rem;
  font-weight: 500;
  line-height: 3.75rem;
  letter-spacing: -0.00833em;
}

// 標題區紅色底線
.q-header {
  border-bottom: 2px solid #e60012;
}

.q-item.q-router-link--active {
  color: #e60012;
}

.w-100 {
  width: 100%;
}
// 隱藏下拉箭頭
.q-tabs {
  .q-icon,
  .material-icons,
  .material-icons-outlined,
  .material-icons-round,
  .material-icons-sharp,
  .material-symbols-outlined,
  .material-symbols-rounded,
  .material-symbols-sharp {
    -webkit-user-select: none;
    user-select: none;
    cursor: inherit;
    font-size: inherit;
    display: none;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
  }
}
//tabs觸碰紅色
.q-tabs {
  .q-btn-dropdown:hover {
    // background-color: #e60012 !important;
    color: #ff6565 !important;
  }

  .q-btn-dropdown.active {
    // background-color: #e60012 !important;
    color: #ff6565 !important;
  }
}
.dropdown-hovered {
  background-color: #e60012 !important;
  color: white !important;
}
.dropdown-hovered2 {
  background-color: #e60012 !important;
  color: white !important;
}

.q-card {
  box-shadow: none;
  // border-radius: 4px;
  // vertical-align: top;
  // background: #fff;
  // position: relative;
}
//timeline左側
.q-timeline__subtitle {
  letter-spacing: 0px;
  width: 23%;
  opacity: 1;

  span {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    color: #e60012;
    padding: 0;
    font-weight: 2000;
  }
  @media (max-width: 768px) {
    span {
      font-size: 1.9rem;
    }
  }
  @media (max-width: 568px) {
    span {
      font-size: 1.7rem;
    }
  }
}
//timeline右側文字
.q-timeline__title {
  margin-top: 0;
  margin-bottom: 0px;
}

.chronicleTimeline li {
  margin: 0 20px 20px 20px;
}
.q-timeline__content {
  width: 100%;
  font-size: 15px;
  padding-bottom: 10%;
  // @media(max-width: 996px){
  //   font-size: 10px;
  // }
  @media (max-width: 768px) {
    font-size: 15px;
    padding-left: 0;
    // padding-bottom: 8px;
  }
}

.q-timeline--comfortable .q-timeline__entry--icon .q-timeline__content {
  padding-left: 8%;
  // padding-top: 3%;
}

.q-timeline--comfortable--right .q-timeline__content {
  @media (max-width: 768px) {
    font-size: 15px;
    padding-left: 0;
  }
}

.q-timeline--comfortable .q-timeline__subtitle {
  width: 23%;
  // padding-top: 3%;
  @media (min-width: 768px) {
    padding-right: 16%;
    width: 19%;
  }
}
.q-timeline__dot .q-icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-size: 21px;
  height: 38px;
  line-height: 38px;
  width: 100%;
  color: #e60012;
}
.q-timeline__dot:before {
  border: 3px solid transparent;
  border-radius: 100%;
  height: 15px;
  width: 15px;
  top: 4px;
  left: 0;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
  color: white;
  display: none;
}
.q-timeline__dot:after {
  width: 3px;
  opacity: 1.4;
  top: 24px;
  bottom: -8px;
  left: 7px;
  // height: 1200px;
}
.q-timeline__entry--icon .q-timeline__dot:after {
  top: 28px;
  left: 14px;
}
.newsSearch {
  margin: 10px;
  width: 60vw;
  .q-field--outlined.q-field--rounded .q-field__control {
    border-radius: 12px;
  }

  @media (max-width: 992px) {
    width: 60vw;
    .q-field {
      width: 100%;
    }
    .q-field--outlined.q-field--rounded .q-field__control {
      border-radius: 24px;
    }
  }
}

.text-h2 {
  font-weight: 400;
}

.q-timeline__dot .q-icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-size: 21px;
  height: 38px;
  line-height: 38px;
  width: 100%;
  color: #000;
}

// .bounce-in{
//   position: absolute;
//   top: -6vh;
//   left: -14vw;
// }

.avatarContent {
  position: relative;
  padding-bottom: 3%;

  .bounce-in {
    position: absolute;
    top: -10px;
    left: -36%;
    img {
      width: 100%;
    }
    @media (min-width: 555px) {
      top: -13px;
      left: -29%;
      img {
        width: 100%;
      }
    }
    @media (min-width: 768px) {
      top: -30px;
      left: -23%;
      img {
        width: 100%;
      }
    }
    @media (min-width: 992px) {
      top: -30px;
      left: -22%;
      img {
        width: 100%;
      }
    }
    @media (min-width: 1200px) {
      top: -40px;
      left: -23%;
      img {
        width: 100%;
      }
    }
    @media (min-width: 1500px) {
      top: -40px;
      left: -21%;
      img {
        width: 100%;
      }
    }
    @media (min-width: 1700px) {
      top: -40px;
      left: -20%;
      img {
        width: 100%;
      }
    }
    @media (min-width: 2100px) {
      top: -40px;
      left: -19%;
      img {
        width: 100%;
      }
    }
  }
}

.q-timeline__entry--icon .q-timeline__dot {
  width: 31px;
  color: #e60012 !important;
}

// recruitList
.recruitList {
  .q-item__section--side > .q-icon {
    font-size: 60px;
    @media (max-width: 992px) {
      font-size: 32px;
    }
  }
  .q-separator {
    background: #5f5f5f;
  }
  .q-item__label {
    color: #222;

    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 160% !important; /* 51.2px */
    @media (max-width: 992px) {
      font-size: 1.5rem;
    }
  }
  .q-item__label--caption {
    color: #222;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    @media (max-width: 992px) {
      font-size: 1.125rem;
    }
  }
  .q-card {
    background: transparent;
  }
  .q-card__section {
    background: transparent;
    color: #6c6c6c;

    font-size: 1.125rem;
    font-style: normal;
    font-weight: 300;
    line-height: 28px; /* 155.556% */
    @media (max-width: 992px) {
      font-size: 0.875rem;

      line-height: 24px; /* 171.429% */
    }
  }
}
.checkListArea {
  .q-item {
    padding: 0;
  }
  .q-item__section--side {
    padding: 0;
  }
  .q-item__section {
    width: 100%;
    .q-checkbox {
      width: 100% !important;
    }
    .q-checkbox__label {
      display: flex;
      align-items: center;
      width: 100% !important;
    }
  }
}
