@import "@/css/scss/Index.scss";
@import "@/css/scss/overview.scss";
@import "@/css/scss/chronicle.scss";
@import "@/css/scss/vision.scss";
// app global css in SCSS form
// body{
//   @media (max-width:568) {
//     overflow-x: hidden;
//   }
// }
@font-face {
  font-family: "jf-openhuninn-2.0";
  src: url(../assets/jf-openhuninn-2.0.woff);
}
body{
  overflow-x: hidden;
  font-family: "jf-openhuninn-2.0";
}
// 標題區紅色底線
.q-header {
  border-bottom: 2px solid #e60012;
}

// 隱藏下拉箭頭
.q-tabs{
  .q-icon, .material-icons, .material-icons-outlined, .material-icons-round, .material-icons-sharp, .material-symbols-outlined, .material-symbols-rounded, .material-symbols-sharp {
  -webkit-user-select: none;
  user-select: none;
  cursor: inherit;
  font-size: inherit;
  display: none;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}
}
//tabs觸碰紅色
.q-tabs{
  .q-btn-dropdown:hover {
  background-color: #e60012 !important;
  color: white !important;
}}
.dropdown-hovered {
  background-color: #e60012 !important;
  color: white !important;
}
.dropdown-hovered2 {
  background-color: #e60012 !important;
  color: white !important;
}
.q-card {
  box-shadow: none;
  // border-radius: 4px;
  // vertical-align: top;
  // background: #fff;
  // position: relative;
}
//timeline左側
.q-timeline__subtitle{

    width: 23%;
    opacity: 1;


  span{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    color: #e60012;
    padding: 0;
    font-weight: 2000;

  }
  @media (max-width: 768px) {
    span{
      font-size: 18px;
    }
  }
  @media (max-width: 568px) {
    span{
      font-size: 13px;
    }
  }
}
//timeline右側文字
.q-timeline__content{
  width: 100%;
  font-size: 15px;
  // @media(max-width: 996px){
  //   font-size: 10px;
  // }
  @media(max-width: 768px){
    font-size: 15px;
    padding-left: 0;
  }
}

.q-timeline--comfortable .q-timeline__subtitle {
  width: 23%;
  @media(min-width: 768px){
    width: 19%;
  }
}
.q-timeline__dot .q-icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-size: 21px;
  height: 38px;
  line-height: 38px;
  width: 100%;
  color: #e60012;
}
.q-timeline__dot:before {
  border: 3px solid transparent;
  border-radius: 100%;
  height: 15px;
  width: 15px;
  top: 4px;
  left: 0;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
  color: white;
  display: none;
}
.q-timeline__dot:after {
  width: 3px;
  opacity: 1.4;
  top: 24px;
  bottom: -8px;
  left: 7px;
  // height: 1200px;
}
.q-timeline__entry--icon .q-timeline__dot:after {
  top: 28px;
  left: 14px;
}

